.cardsContainer {
    position: absolute;
}

@media screen and (min-width: 640px) and (max-width: 939px) {
    .cardsContainer {

    }
  }
  
@media screen and (min-width: 840px) and (max-width: 1239px) {
    .cardsContainer {

    }
  }
  
@media screen and (min-width: 1140px) and (max-width: 1539px) {
    .cardsContainer {
        width: 60%;
    }
  }

@media screen and (min-width: 1540px) {
    .cardsContainer {
        position: absolute;
        left: 19%;
        grid-template-columns: repeat(3, 1fr); 
    }

  }