.Fresh {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    color: #212B36;
}

.Produce {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

body::-webkit-scrollbar {
    display: none;
}

.grid {
    grid-gap: 0;
  }